<!-- BEGIN CORE PLUGINS -->
<!-- END CORE PLUGINS -->
<div class="footer">
    <div class="footer-inner">
    </div>

    <div class="footer-tools">
			<span class="go-top">
			<i class="icon-angle-up"></i>
			</span>
    </div>

</div>


<script src="{:C('ADMIN_JS_PATH')}jquery-1.10.1.min.js" type="text/javascript"></script>

<script src="{:C('ADMIN_JS_PATH')}jquery-migrate-1.2.1.min.js" type="text/javascript"></script>

<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->

<script src="{:C('ADMIN_JS_PATH')}jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>

<script src="{:C('ADMIN_JS_PATH')}bootstrap.min.js" type="text/javascript"></script>

<!--[if lt IE 9]>

<script src="{:C('ADMIN_JS_PATH')}excanvas.min.js"></script>

<script src="{:C('ADMIN_JS_PATH')}respond.min.js"></script>

<![endif]-->

<script src="{:C('ADMIN_JS_PATH')}jquery.slimscroll.min.js" type="text/javascript"></script>

<script src="{:C('ADMIN_JS_PATH')}jquery.blockui.min.js" type="text/javascript"></script>

<script src="{:C('ADMIN_JS_PATH')}jquery.cookie.min.js" type="text/javascript"></script>

<script src="{:C('ADMIN_JS_PATH')}jquery.uniform.min.js" type="text/javascript" ></script>

