<layout name="Public/layout"/>
<!-- END GLOBAL MANDATORY STYLES -->

<!-- BEGIN PAGE LEVEL STYLES -->

<link rel="stylesheet" type="text/css" href="{:C('ADMIN_CSS_PATH')}select2_metro.css" />

<link rel="stylesheet" type="text/css" href="{:C('ADMIN_CSS_PATH')}chosen.css" />

<!-- END PAGE LEVEL STYLES -->

<link rel="shortcut icon" href="{:C('ADMIN_IMG_PATH')}favicon.ico" />
			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

			<!-- END PAGE HEADER-->

				<!-- BEGIN PAGE CONTENT-->



				<div class="row-fluid">

					<div class="span12">

						<!-- BEGIN VALIDATION STATES-->

						<div class="portlet box green">

							<div class="portlet-title">

								<div class="caption"><i class="icon-reorder"></i>商品添加</div>

								<div class="tools">

									<a href="javascript:;" class="collapse"></a>

									<a href="#portlet-config" data-toggle="modal" class="config"></a>

									<a href="javascript:;" class="reload"></a>

									<a href="javascript:;" class="remove"></a>

								</div>

							</div>

							<div class="portlet-body form">

								<!-- BEGIN FORM-->
								<form action="" id="form_sample_2" method="post" class="form-horizontal" enctype="multipart/form-data">

									<div class="alert alert-error hide">

										<button class="close" data-dismiss="alert"></button>

										你还有未填写的项目！

									</div>

									<div class="alert alert-success hide">

										<button class="close" data-dismiss="alert"></button>
										验证成功！
									</div>

									<div class="control-group">

										<label class="control-label">角色名称<span class="required">*</span></label>

										<div class="controls">

											<input type="text" name="role_name" data-required="1"  value="{$role_info.role_name}" class="span6 m-wrap"/>

										</div>

									</div>

									<div class="form-actions">

										<button type="submit" class="btn green">添加角色</button>

									</div>


								</form>

								<!-- END FORM-->

							</div>

						</div>

						<!-- END VALIDATION STATES-->

					</div>

				</div>

				<!-- END PAGE CONTENT-->         

			</div>

			<!-- END PAGE CONTAINER-->

		</div>

		<!-- END PAGE -->  

	</div>

	<!-- END CONTAINER -->

	<!-- BEGIN FOOTER -->

	<include file="Public/footer" />
	<!-- END FOOTER -->

	<!-- BEGIN PAGE LEVEL PLUGINS -->

	<script type="text/javascript" src="{:C('ADMIN_JS_PATH')}jquery.validate.min.js"></script>

	<script type="text/javascript" src="{:C('ADMIN_JS_PATH')}additional-methods.min.js"></script>

	<script type="text/javascript" src="{:C('ADMIN_JS_PATH')}select2.min.js"></script>

	<script type="text/javascript" src="{:C('ADMIN_JS_PATH')}chosen.jquery.min.js"></script>

	<!-- END PAGE LEVEL PLUGINS -->

	<!-- BEGIN PAGE LEVEL STYLES -->

	<script src="{:C('ADMIN_JS_PATH')}app.js"></script>

	<script src="{:C('ADMIN_JS_PATH')}form-validation.js"></script> 

	<!-- END PAGE LEVEL STYLES -->    

	<script>

		jQuery(document).ready(function() {   

		   // initiate layout and plugins

		   App.init();

		   FormValidation.init();

		});

	</script>

	<!-- END JAVASCRIPTS -->   

</body>

<!-- END BODY -->

</html>

	<!--点击上传按钮后，获得文件的文件名-->
<script type="text/javascript">
	//单个商品LOGO上传
	function getupload(){
	    $('#fileupload').click();
	}
	$('#fileupload').change(function(){
        $('#gettext').html($(this).val());
	}

	);

	//多个商品图片上传
    function getuploads(){
        $('#fileuploads').click();
    }
    $('#fileuploads').change(function(){
            $('#gettexts').html('图片已经选择');
        }

    );



	//表单进行验证
    //Sample 2
    $('#form_2_select2').select2({
        placeholder: "Select an Option",
        allowClear: true
    });

    var form2 = $('#form_sample_2');
    var error2 = $('.alert-error', form2);
    var success2 = $('.alert-success', form2);

    form2.validate({
        errorElement: 'span', //default input error message container
        errorClass: 'help-inline', // default input error message class
        focusInvalid: false, // do not focus the last invalid input
        ignore: "",
        rules: {
            goods_name: {
                minlength: 2,
                required: true
            },
            goods_price: {
                minlength: 1,
                required: true
            },
            cate_id: {
                required: true
            },
        },

        messages: { // custom messages for radio buttons and checkboxes
            membership: {
                required: "Please select a Membership type"
            },
            service: {
                required: "Please select  at least 2 types of Service",
                minlength: jQuery.format("Please select  at least {0} types of Service")
            }
        },

        errorPlacement: function (error, element) { // render error placement for each input type
            if (element.attr("name") == "education") { // for chosen elements, need to insert the error after the chosen container
                error.insertAfter("#form_2_education_chzn");
            } else if (element.attr("name") == "membership") { // for uniform radio buttons, insert the after the given container
                error.addClass("no-left-padding").insertAfter("#form_2_membership_error");
            } else if (element.attr("name") == "service") { // for uniform checkboxes, insert the after the given container
                error.addClass("no-left-padding").insertAfter("#form_2_service_error");
            } else {
                error.insertAfter(element); // for other inputs, just perform default behavoir
            }
        },

        invalidHandler: function (event, validator) { //display error alert on form submit
            success2.hide();
            error2.show();
            App.scrollTo(error2, -200);
        },

        highlight: function (element) { // hightlight error inputs
            $(element)
                .closest('.help-inline').removeClass('ok'); // display OK icon
            $(element)
                .closest('.control-group').removeClass('success').addClass('error'); // set error class to the control group
        },

        unhighlight: function (element) { // revert the change dony by hightlight
            $(element)
                .closest('.control-group').removeClass('error'); // set error class to the control group
        },

        success: function (label) {
            if (label.attr("for") == "service" || label.attr("for") == "membership") { // for checkboxes and radip buttons, no need to show OK icon
                label
                    .closest('.control-group').removeClass('error').addClass('success');
                label.remove(); // remove error label here
            } else { // display success icon for other inputs
                label
                    .addClass('valid').addClass('help-inline ok') // mark the current input as valid and display OK icon
                    .closest('.control-group').removeClass('error').addClass('success'); // set success class to the control group
            }
        },

        submitHandler: function (form) {
            form.submit();
            //success2.show();
            //error2.hide();
        }

    });




</script>